.forum_page_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    height: 100%;
    margin-bottom: 60px;
    
    gap: 60px;

    .categories{
        display: flex;
        flex-direction: column;

        width: 100%;

        gap: 60px;

        .container{
            display: flex;
        flex-direction: column;

        width: 100%;

        gap: 40px;
        }

        & > button{
            width: 430px;
            padding-top: 25px;
            padding-bottom: 25px;
            cursor: pointer;
            color: white;
            background-color: var(--background-purple);

            font-size: 24px;
            border-radius: 12px;
            border: none;
            margin: 0 auto;
        }
    }
}

.blur{
    transition: 0.5s;
    filter: blur(5px);
    pointer-events: none;
}