.app{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #ECECEC;


    
    .container{
        display: flex;
        flex-direction: column;
        width: calc(100% - 160px);
        min-height: calc(100vh - 220px);
        margin-top: 60px;
    }
}