.topicsHeader{
    display: flex;
    height: 75px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgb(206,206,206);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: var(--background-purple);
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;

    h3{
        font-weight: normal;
        font-size: 24px;
    }

    .buttons{
        width: 30%;
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
        position: relative;
        z-index: 1;

        & > input{
            width: 40px;
            height: 40px;
            position: absolute;
            right: calc(50px - 0px);
            top: 0;
            z-index: -1;
            transition: 0.5s;
            border: 1px solid #CECECE;
            outline: none;
            border-radius: 12px;
            padding-left: 20px;
            font-size: 12px;
            color: var(--background-purple);
            background-color: #F1EDED;

        }

        & > button{
            
            position: relative;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            border: none;
            cursor: pointer;
            background-color: var(--background-purple);
            
    
            & > div{
                position: absolute;
                width: 20px;
                height: 3px;
                background-color: white;
            }
    
            & > div:nth-child(1){
                transform: rotate(90deg);
            }
        }
    }

   

}

.opened{
    width: calc(100% - 40px) !important;
}

.closed{
    width: 40px !important;
}